<section id="about" class="about">
 <div class="row position-relative">

       
            <div class="col-lg-6">
           
<h3>Ar-Ge çalışmalarımızı sabırla beklediğiniz için teşekkürler...</h3>

    </div>
</div>
    
</section>